@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

.body {
    height: 100vh;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.animate-pulse {
    animation-name: pulse;
    animation-duration: 3s;
}

.form-container {
    max-width: 680px;
}

.demo-container {
    @apply rounded-lg p-4 md:p-8 bg-gray-100 shadow-2xl;
}
